@model ResetPasswordModel
<h2>Şifreni Sıfırla</h2>
<hr>
<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Token">
    <input type="hidden" asp-for="Email">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Password">Parola:</label>
        <input asp-for="Password" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmPassword">Parola Onay:</label>
        <input asp-for="ConfirmPassword" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Gönder</button>
</form>